// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Font Variables
$ubuntu: 'Ubuntu', sans-serif;
$ubuntu-mono: 'Ubuntu Mono', monospace;

// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.invertable { filter: invert(0); }
  }
}

body[theme="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[theme="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }

html { height: 100%; }

body {
  color: black;
  font-family: $ubuntu;
  font-size: 16px;
  line-height: 1.35;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  text-align: justify;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 2rem; }

hr { margin: 2rem 0; }

p { margin: 0.5rem 0; }

// list items, paragrahs inside a list item should be close
li, li p { margin: 0rem 0; }

// paragraph and a following list should be close
p + ul, p + ol { margin-top: -0.25rem; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  font-family: $ubuntu-mono;
  font-size: 16px;
  color: black;
  background: white-smoke;
}

pre code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.footnote-definition {
  padding: 0 1rem;
  &:target {
    background: yellow;
    color: #212121;
  }
  p {
    display: inline;
  }
}

nav, .taxonomies { text-align: center; }
