<ul>
  {% for page in pages %}
    <li>
      <a href="{{ page.permalink | safe }}">{{ page.date }} - {{ page.title }}</a>
      <br />
      {{ page.description }}
    </li>
  {% endfor %}
</ul>

{% if paginator %}
  <p>
    {% if paginator.previous %}
      <a href="{{ paginator.first }}">&lt;&lt; First</a>
      <a href="{{ paginator.previous }}">&lt; Previous</a>
    {% else %}
      &lt;&lt; First &lt; Previous
    {% endif %}
    [{{ paginator.current_index }}/{{ paginator.number_pagers }}]
    {% if paginator.next %}
      <a href="{{ paginator.next }}">Next &gt;</a>
      <a href="{{ paginator.last }}">Last &gt;&gt;</a>
    {% else %}
      Next &gt; Last &gt;&gt;
    {% endif %}
  </p>
{% endif %}
