{% extends "base.html" %}

{% block header %}
  <style>
    .title {
      margin-left: -10px;
    }
    .profile-left {
      float: left;
      width: 175px; height: 150px;
    }
    .profile-right {
      margin-left: 180px;
    }
    .social {
      text-decoration: none;
    }
  </style>
{% endblock header %}

{% block content %}
  <div>
    <div class="profile-left">
      <img src="{{ get_url(path=config.extra.avatar) | safe }}" alt="avatar" width="140"/>
    </div>
    <div class="profile-right">
      <h1 class="title">{{ section.title }}</h1>
      <div>
        {%- if section.extra.position-%}
          <div>{{ section.extra.position}}</div>
        {%- endif -%}
        {%- if section.extra.email -%}
          <div>{{ section.extra.email }}</div>
        {%- endif -%}
        <!-- icons: https://tabler-icons.io/ -->
        {%- if section.extra.gscholar -%}
          <a class="social" href="https://scholar.google.com/citations?user={{ section.extra.gscholar}}" target="_blank" title="Google Scholar">
            <i class="ti ti-school"></i>
          </a>
        {%- endif -%}
        {%- if section.extra.dblp -%}
          <a class="social" href="https://dblp.org/pid/{{ section.extra.dblp }}" target="_blank" title="DBLP">
            <i class="ti ti-book"></i>
          </a>
        {%- endif -%}
        {%- if section.extra.linkedin -%}
          <a class="social" href="https://www.linkedin.com/in/{{ section.extra.linkedin }}/" target="_blank" title="LinkedIn">
            <i class="ti ti-brand-linkedin"></i>
          </a>
        {%- endif -%}
        {%- if section.extra.github-%}
          <a class="social" href="https://github.com/{{ section.extra.github }}/" target="_blank" title="GitHub">
            <i class="ti ti-brand-github"></i>
          </a>
        {%- endif -%}
        {%- if section.extra.cv -%}
          <a class="social" href="{{ get_url(path=section.extra.cv) | safe }}" target="_blank" title="CV">
            <i class="ti ti-file-text"></i>
            <!-- FIXME: should be this, but not working -->
            <!-- <i class="ti ti-file-cv"></i> -->
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>

  <div style="clear:both;">
    {{ section.content | safe }}
  </div>
{% endblock content %}
