{% extends "base.html" %}

{% block header %}
  <style>
    .title {
      margin-left: -10px;
    }
    .profile-left {
      float: left;
      width: 175px; height: 150px;
    }
    .profile-right {
      margin-left: 180px;
    }
    .social {
      text-decoration: none;
    }
  </style>
{% endblock header %}

{% block content %}
  <div>
    <div class="profile-left">
      <img src="{{ get_url(path=config.extra.avatar) | safe }}" alt="avatar" width="140"/>
    </div>
    <div class="profile-right">
      <h1 class="title">{{ section.title }}</h1>
      <div>
        {%- if section.extra.position-%}
          <div>{{ section.extra.position}}</div>
        {%- endif -%}
        {%- if section.extra.email -%}
          <div>{{ section.extra.email }}</div>
        {%- endif -%}
        <!-- icons: https://tabler-icons.io/ -->
        {%- if section.extra.gscholar -%}
          <a class="social" href="https://scholar.google.com/citations?user={{ section.extra.gscholar}}" target="_blank" title="Google Scholar">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
              <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
            </svg>
          </a>
        {%- endif -%}
        {%- if section.extra.linkedin -%}
          <a class="social" href="https://www.linkedin.com/in/{{ section.extra.linkedin }}/" target="_blank" title="LinkedIn">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
             <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
             <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
             <path d="M8 11l0 5"></path>
             <path d="M8 8l0 .01"></path>
             <path d="M12 16l0 -5"></path>
             <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
            </svg>
          </a>
        {%- endif -%}
        {%- if section.extra.cv -%}
          <a class="social" href="{{ get_url(path=section.extra.cv) | safe }}" target="_blank" title="CV">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-cv" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
               <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
               <path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0"></path>
               <path d="M13 11l1.5 6l1.5 -6"></path>
            </svg>
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>

  <div style="clear:both;">
    {{ section.content | safe }}

    <!-- {% if config.extra.list_pages %} -->
    <!--   {% if paginator %} -->
    <!--     {% set pages = paginator.pages %} -->
    <!--   {% else %} -->
    <!--     {% set pages = section.pages %} -->
    <!--   {% endif %} -->

    <!--   <ul> -->
    <!--     {% for page in pages %} -->
    <!--     <li> -->
    <!--       <a href="{{ page.permalink | safe }}">{% if page.date %}{{ page.date }} - {% endif %}{{ page.title }}</a> -->
    <!--       <br /> -->
    <!--       {{ page.description }} -->
    <!--     </li> -->
    <!--     {% endfor %} -->
    <!--   </ul> -->

    <!--   {% if paginator %} -->
    <!--     <p> -->
    <!--       {% if paginator.previous %} -->
    <!--         <a href="{{ paginator.first }}">&lt;&lt; First</a> -->
    <!--         <a href="{{ paginator.previous }}">&lt; Previous</a> -->
    <!--       {% endif %} -->
    <!--       [{{ paginator.current_index }}/{{ paginator.number_pagers }}] -->
    <!--       {% if paginator.next %} -->
    <!--         <a href="{{ paginator.next }}">Next &gt;</a> -->
    <!--         <a href="{{ paginator.last }}">Last &gt;&gt;</a> -->
    <!--       {% endif %} -->
    <!--     </p> -->
    <!--   {% endif %} -->

    <!-- {% endif %} -->
  </div>
{% endblock content %}
